.contain{
    width: 980px;
    margin: 0 auto;
}
* {
    padding: 0;
    margin: 0;
}
div{
    display: block;
}
.head-contain{
    padding-top: 10px;
}
.search-top{
    width: 430px;
    margin-left: 282px;
}
.search-block{
    height: 44px;
    margin: 0 auto;
    position: relative;
    width: 587px;
}
.search-input{
    position: relative;
    background: #fff;
    border-radius: 4px;
    float: left;
    width: 330px;
    margin-right: 10px;
}
input{
    height: 18px;
    box-shadow: none;
    padding: 11px 15px;
    background: transparent;
    width: 296px;
    border: 2px solid #ccd0d7;
    border-radius: 20px;
    font-size: 16px;
    color: #222;
}
.search-button{
    margin-left: 7px;
    cursor: pointer;
    float: left;
    color: #fff;
    width: 70px;
    background-color: #00a1d6;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 42px;
    text-align: center;
    border-radius: 6px;
}
.navigator{
    overflow: hidden;
    margin-top: 18px;
    margin-left: -37px;
    margin-right: -9px; */
    /* 
    
}
.nav-1{
    margin-left: -37px;
    margin-right: -9px;
    overflow: hidden;
    position: relative;
}
.fenlei{
    position: relative;
    font-size: 0;
    z-index: 1;
    white-space: nowrap;
    flex-grow: 1;
}
.fenlei-list-1{
    border-bottom: 1px solid #ccd0d7;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #657786;
    vertical-align: middle;
    white-space: nowrap;
}
.li{
    margin: 0;
    padding: 0;
    list-style: none;
}


